@model LinkedList<SachTra>
@{
    ViewData["Title"] = "ViewSachTra";
}

<main class="pt-2">
    <div>
        <div class="text-start d-flex" style="margin: 12px 0;">
            <a asp-controller="QuanLyMuonTraSach" asp-action="ViewSachMuon" class="btn btn-outline-primary @(Context.Request.Path == "/QuanLyMuonTraSach/ViewSachMuon" ? "active" : "")" style="border-top-right-radius: 0; border-bottom-right-radius: 0;">
                Borrowing Records
            </a>
            <a asp-controller="QuanLyMuonTraSach" asp-action="ViewSachTra" class="btn btn-outline-primary @(Context.Request.Path == "/QuanLyMuonTraSach/ViewSachTra" ? "active" : "")" style="border-top-left-radius: 0; border-bottom-left-radius: 0;border-top-right-radius: 0; border-bottom-right-radius: 0;">
                Returned Records
            </a>
            <a asp-controller="QuanLyMuonTraSach" asp-action="ViewSachPhat" class="btn btn-outline-primary @(Context.Request.Path == "/QuanLyMuonTraSach/ViewSachPhat" ? "active" : "")" style="border-top-left-radius: 0; border-bottom-left-radius: 0;">
                Fine Records
            </a>
        </div>
        <div class="text-end">
            <a asp-controller="QuanLyMuonTraSach" asp-action="CreatePhieuMuon" class="btn btn-success" style="border-top-right-radius: 0; border-bottom-right-radius: 0;">
                Create
            </a>
        </div>
        <hr />
        <table class="table table-hover">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Record ID</th>
                    <th scope="col">Book ID</th>
                    <th scope="col">Book</th>
                    <th scope="col">Library Card</th>
                    <th scope="col">Patron</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Return Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Note</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id_PhieuMuon</th>
                        <td>@item.Id_Sach</td>
                        <td>@item.TenSach</td>
                        <td>@item.Id_MaThe</td>
                        <td>@item.TenDocGia</td>
                        <td>@item.SlMuon</td>
                        <td>@item.NgayTra?.ToString("dd/MM/yyyy")</td>
                        <td>@item.TrangThaiStr</td>
                        <td>@item.GhiChuTra</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>