@model LinkedList<InfoBook>
@{
    ViewData["Title"] = "Quản lý sách";
}

<main>
    <h2 class="lv2">List books</h2>
    <div class="text-start d-flex justify-content-between" style="margin: 12px 0;">
        <a asp-controller="QuanLySach" asp-action="Create" class="btn btn-outline-primary">
            <i class="bi bi-plus-circle"></i>&nbsp; Create
        </a>
        <form method="post" class="d-flex" asp-controller="QuanLySach" asp-action="SearchSach">
            <input class="form-control me-sm-1" type="search" required name="searchInput" placeholder="Search by name, author, category ...">
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
    <table class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th class="col">Image</th>
                <th scope="col">Book ID</th>
                <th scope="col">Name</th>
                <th scope="col">Author</th>
                <th scope="col">Category</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Borrow Fee</th>
                <th scope="col">National</th>
                <th scope="col">Created Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><img src="@item.Sach.UrlImg" style="width:75px;height:auto;"/></td>
                    <td scope="row">@item.Sach.ID_Sach</td>
                    <td>@item.Sach.TenSach</td>
                    <td>@item.TacGia.TenTacGia</td>
                    <td>@item.TheLoai.TenTheLoai</td>
                    <td>@item.Sach.SoLuong</td>
                    <td>@item.Sach.GiaTien.ToString("#,###")</td>
                    <td>@item.Sach.GiaThueTheoNgay.ToString("#,###")</td>
                    <td>@item.TacGia.QuocGia</td>
                    <td>@item.Sach.NgayNhap.ToString("dd/MM/yyyy")</td>
                    <td>
                        <a asp-controller="QuanLySach" asp-action="ViewEdit" asp-route-id="@item.Sach.ID_Sach" class="btn btn-outline-primary" title="Sửa">
                            <i class="bi bi-gear"></i>
                        </a>
                        <a asp-controller="QuanLySach" asp-action="Delete" asp-route-id="@item.Sach.ID_Sach" class="btn btn-outline-danger" style="margin: 0 8px;" title="Xóa">
                            <i class="bi bi-trash3"></i>
                        </a>
                        <a asp-controller="QuanLySach" asp-action="Details" asp-route-id="@item.Sach.ID_Sach" class="btn btn-outline-primary" title="Xem chi tiết">
                            <i class="bi bi-info-circle"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>