@model IEnumerable<DocGia>
@{
    ViewData["Title"] = "Index";
}

<main>
    <h2 class="lv2">List patrons</h2>
    <div class="text-start d-flex justify-content-between" style="margin: 12px 0;">
        <a asp-controller="QuanLyDocGia" asp-action="Create" class="btn btn-outline-primary">
            <i class="bi bi-plus-circle"></i>&nbsp; Create
        </a>
        <form method="post" class="d-flex" asp-controller="QuanLyDocGia" asp-action="Search">
            <input class="form-control me-sm-1" type="search" required name="searchInput" placeholder="Search by name, address, email, phone number, student id ... ">
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
    <table class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="col">Patron ID</th>
                <th scope="col">Student ID</th>
                <th scope="col">Name</th>
                <th scope="col">Sexual</th>
                <th scope="col">BoD</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.ID_DocGia</th>
                    <th>@item.MaSV</th>
                    <td>@item.TenDocGia</td>
                    <td>@item.GioiTinh</td>
                    <td>@item.NgaySinh.ToString("dd/MM/yyyy")</td>
                    <td>@item.DiaChi</td>
                    <td>@item.SDT</td>
                    <td>@item.Email</td>
                    <td>
                        <a asp-controller="QuanLyDocGia" asp-action="Edit" asp-route-id="@item.ID_DocGia" class="btn btn-outline-primary" title="Sửa">
                            <i class="bi bi-gear"></i>
                        </a>
                        <a asp-controller="QuanLyDocGia" asp-action="Delete" asp-route-id="@item.ID_DocGia" class="btn btn-outline-danger" style="margin: 0 8px;" title="Xóa">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>